*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-size: 10px;
    background-color: #d3d3d3;
}



header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}

.container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.nav{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255,255,255,.05);
    transition: height .5s ease;
}

.nav a{
    text-decoration: none;
    color:purple;
    font-size: 1.6rem;
}

.nav .logo{
    font-size: 3.5rem;
    font-weight: bold;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-right: auto;
    margin-left: 4rem;
}

.nav-link{
    margin: 0 2rem;
    position: relative;
}

.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.nav-link:hover::after{
    transform: scaleX(1);
}

.nav-cta{
    display: inline-block;
    background-color: #fff;
    color: #313131;
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: background-color .5s ease;
}

.nav-cta:hover{
    background-color: #d3d3d3;
}

.bolum1{
    width: 100%;
    height: 650px;
    background-color:#d3d3d3;
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
    padding-left: 40px;
    color: #521a4a;
}
footer{
    height: 143px;
    background:#240e28;
}
footer div#footerContainer{
    width: 1200px;
    position:relative;
    margin: auto;
}

footer div#footerContainer div.footerBox{
    width: 400px;
    position: relative;
    float: left;
    text-align: center;
    color: #d3d3d3;
}

footer div#footerContainer div.footerBox{
    font-size: 12px;
}

footer div#footerContainer div.footerBox h2{
    border-bottom: 2px solid ;
}
footer div#footerContainer div.footerBox a{
    color:#d3d3d3;
}